@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
    background-color: black;
}

h1 {
    color: white;
    font-family: "Patrick Hand";
}

p {
    color: white;
    font-family: "Patrick Hand";
}