@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@font-face {
 font-family: 'Continuum';
 src: url(fonts/contm.ttf) format('ttf');
}

body {
    background-color: black;
}

h1 {
    color: white;
    font-family: "Continuum";
}

p {
    color: white;
    font-family: "Continuum";
}