/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@font-face {
	font-family: 'ContL';
	src: url('fonts/contl.ttf') format('truetype');
}

@font-face {
	font-family: 'ContM';
	src: url('fonts/contm.ttf') format('truetype');
}

@font-face {
	font-family: 'ContB';
	src: url('fonts/contb.ttf') format('truetype');
}

@font-face {
    font-family: 'MonsterMash';
    src: url('fonts/CC Monster Mash Medium.ttf') format('truetype');
}

/* ID's */
#mainTitle {
	position: absolute;
	left: 5vw;
	font-size: 10vw;
	z-index: 2;
}

#titleParagraph {
	position: absolute;
	left: 5.4vw;
	top: 32vw;
	font-size: 3vw;
	font-family: 'Patrick Hand';
	z-index: 2;
	margin: 0;
}

#section-1{
	display: inline-flex;
	position: relative;
	align-items: center;
	justify-content: left;
	width: 100%;
	height: 50vw;
}

/* Classes */

.paragraph {
	margin: 8px;
	font-family: "Patrick Hand";
	font-size: 25px;
}

.otherTitle {
	margin: 16px;
	font-size: 50px;
}

.grid-container {
	display: grid;
	gap: 1vh 3vw;
	grid-template-columns: auto auto auto;
	background-color: #ff954c;
	margin: 25px;
}

.textBackground {
	background-color: #ff954c;
	margin: 25px;
}

.pageOffset {
	margin-top: 96px;
	padding-top: 20px;
}

.navbar {
	display: flex;
	position: fixed;
	z-index: 100;
	width: 100%;
}

.navbar a {
	text-decoration: none;
}

.navbar p {
	font-family: "Patrick Hand";
	font-size: 30px;
	color: white;
	text-align: center;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	width: 192px;
	height: 96px;
	margin: 0;
}

/* Style the navigation bar links */
/* .navbar a {
	color: white;
	padding: 14px 20px;
	text-decoration: none;
	text-align: center;
	font-family: "Patrick Hand";
} */

/* Change color on hover */
.navbar a:hover {
	/* make hover cog image visible */
}

.cog {
	margin-top: -96px;
}

.rotating {
	animation: rotate 5s linear infinite;
}

.rotating-reverse {
	animation: rotate 5s linear -0.3s infinite reverse;
}

@keyframes rotate {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@media all and (max-width: 600px) {
	.grid-container {
		grid-template-columns: auto;
	}
}

@media all and (max-width: 960px) {
	.cog {
		margin-top: -10%;
		width: 20%;
	}
	.pageOffset {
		margin-top: 10%;
	}
	.navbar a {
		width: 20%;
	}
	.navbar p {
		font-size: 3vw;
		width: auto;
		height: 10vw;
	}
}

/* Customised tags */

body {
	margin: 0;
	display: grid;
	background-color: #e68d50;
    --bg-image: url("images/SteampunkAirship.gif"); /* bg image variable for body::after so javascript can change it */
}

body::after{
	content: "";
	position: fixed;
	top: 0;
	height: 100vh;
	left: 0;
	right: 0;
	z-index: -1;
    background: var(--bg-image) center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	font-family: "ContB";
}

h2 {
	font-family: "ContB";
	font-size: 40px;
	margin: 20px;
}

p {
	margin: 8px;
}

footer {
	padding: 3px;
	background-color: brown;
	color: white;
	font-family: Arial;
}