/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@font-face {
	font-family: 'ContL';
	src: url('fonts/contl.ttf') format('truetype');
}

@font-face {
	font-family: 'ContM';
	src: url('fonts/contm.ttf') format('truetype');
}

@font-face {
	font-family: 'ContB';
	src: url('fonts/contb.ttf') format('truetype');
}

/* ID's */
#mainTitle {
	position: absolute;
	left: 5vw;
	font-size: 10vw;
	z-index: 2;
}

#titleParagraph {
	position: absolute;
	left: 5.4vw;
	top: 32vw;
	font-size: 2.5vw;
	font-family: 'Patrick Hand';
	z-index: 2;
	margin: 0;
}

#section-1{
	display: inline-flex;
	position: relative;
	align-items: center;
	justify-content: left;
	width: 100%;
	height: 50vw;
}

#section-1 > #img-background{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Classes */

.paragraph {
	margin: 8px;
    font-family: "Patrick Hand";
	font-size: 25px;
}

.otherTitle {
	margin: 16px;
	font-size: 50px;
}

.grid-container {
  display: grid;
  gap: 1vh 3vw;
  grid-template-columns: auto auto auto;
  background-color: #e68d50;
  margin: 25px;
}

.navbar {
  display: flex;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  font-family: "Patrick Hand";
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

@media all and (max-width: 600px) {
	.grid-container {
		grid-template-columns: auto;
	}
}

/* Customised tags */

body {
	margin: 0;
	display: grid;
}

h1 {
    font-family: "ContB";
}

h2 {
	font-family: "ContB";
	font-size: 40px;
	margin: 20px;
}

p {
	margin: 8px;
}

footer {
	padding: 3px;
	background-color: brown;
	color: white;
	font-family: Arial;
}